<h1>INDEX - My first page</h1>

<h1></h1>

<h2>Hello World!</h2>

</header>

<body>


<p>I love lamp</p>
<p>Find me in app/views/home/index.html.erb</p>
<p>Today is Saturday and my first day of learning code</p>


<h1>List of Pies</h1>

<ul>
	<li>Apple Pie</li>
	<li>Blueberry Pie</li> 
	<li>Carrot Pie</li>
</ul>

<ol>		
	<li>Meat Pie</li>
	<li>Pumpkin Pie</li>
	<li>Keylime Pie</li>
</ol>

<table>
<table class= "table table-bordered" >
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Phone</th>

	</tr>


<h2>Customers</h2>
	
	<tr>		
		<td>Aaron</td>
		<td>aaronfromalex@gmail.com</td>
		<td>0488771778</td>

	</tr>

	<tr>
		<td>Will</td>
		<td>will@gmail.com</td>
		<td>0488288721</td>


	</tr>

</table>




<a href="/home/apple" class="btn btn-danger"> Apple</a>
<a href="/home/blueberry" class="btn btn-warning"> Blueberry</a>
<a href="/home/avocado" class="btn btn-success"> Avocado</a>





































